@model WebForum.Models.Home.HomeIndexModel

<div class="container">
    <div class="row frontPageSplash">
        <div class="col-md-12 frontPageLearn text-center" style="font-family: 'Roboto', serif">
            <div class="frontPageHeading">Welcome to <span class="text-primary">WebForum</span>!</div>
            <p class="frontPageSubHeading">Power is gained by sharing knowledge, not hoarding it.</p>
            <div>
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search.." />
                </form>
            </div>
        </div>
        <div class="col-md-12"></div>
    </div>
    <div class="frontPageContent">
        <h4 id="latestPosts" class="text-primary">Latest posts</h4>
        @if (Model.LatestPosts.Any())
        {
            <table class="table table-hover" id="latestPostsTable">
                <tbody>
                    @foreach (var post in Model.LatestPosts)
                    {
                        <tr>
                            <td>
                                <div class="forumLogo" style="background-image: url(@post.Forum.ImageUrl);"></div>
                                <div class="postTitle">
                                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                                </div>
                                <div class="postSubTitle">
                                    @if (post.RepliesCount == 1)
                                    {
                                        <span>@post.RepliesCount reply | </span>
                                    }
                                    else
                                    {
                                        @if (post.RepliesCount == 0)
                                        {
                                            <span>No replies | </span>
                                        }
                                        else
                                        {
                                            <span>@post.RepliesCount replies | </span>
                                        }
                                    }
                                    <span class="postUser">by <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId" class="text-primary">@post.AuthorName</a></span>
                                    <span class="postUserRating">(@post.AuthorRating) | </span>
                                    <a asp-controller="Forum" asp-action="Topic" asp-route-id="@post.Forum.Id" class="text-primary">@post.Forum.Title</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else {
        <div class = "row text-center">
            <h3>There are no posts in any of the forums..</h3>
            <p>Choose forum and create one?</p>
            <a asp-controller="Forum" asp-action="Index" class="btn btn-primary">Choose</a>
        </div>    
        }
    </div>
</div>