@using Microsoft.AspNetCore.Identity
@model WebForum.Models.Profile.ProfileModel
@inject UserManager<WebForum.Data.Models.ApplicationUser> UserManager

<div class="container">
    <div class="row">
        <div>
            <h3>@Model.Username's Profile</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div style="background-image: url(@Model.ProfileImageUrl); width: 300px; height: 300px;"></div>
            @if (User.Identity.Name == Model.Username)
            {
                <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadProfileImage">
                    <div id="upload">
                        <label class="btn btn-primary btn-file m-0">
                            Browse <input type="file" name="file" style="display: none;" />
                        </label>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            }
        </div>
        <div class="col-md-8">
            <p>Username: <span class="text-danger">@Model.Username</span></p>
            @if (@Model.IsAdmin)
            {
                <span class="text-danger"> (Admin)</span>
            }
            <p>Current rating: <span class="text-danger">@Model.UserRating</span></p>
            <p>Email address: <span class="text-danger">@Model.Email</span></p>
            <p>Member since: <span class="text-danger">@Model.MemberSince</span></p>
        </div>
    </div>
</div>