@model WebForum.Models.Forum.ForumTopicModel

<div class="text-left p-2">
    <div class="forumLogo" style="background-image: url(@Model.Forum.ImageUrl); height: 38px; margin-top: 5px;"></div>
    <h2>Welcome to the <span class="text-danger">@Model.Forum.Title</span> Forum!</h2>
    <small>@Model.Forum.Description</small>
    <hr />
</div>
<span id="headingBtn">
    <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id" class="btn btn-primary btn-newPost">Create post</a>
</span>

@if (Model.Posts.Any())
{
    <table class="table table-bordered table-hover">
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>
                        <a class="d-block" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                            @post.Title | (@post.RepliesCount)
                        </a>
                        <small>
                            @post.AuthorName | @post.DatePosted
                        </small>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="noPosts">
        <h5>There are no posts in this forum yet..</h5>
        <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id">
            Create one?
        </a>
    </div>
}