@model WebForum.Models.Forum.ForumTopicModel

<div>
    <a class="btn btn-sm btn-outline-dark mb-3" asp-controller="Forum" asp-action="Index">
        Back
    </a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Forum" asp-action="Remove" asp-route-id="@Model.Forum.Id" class="btn btn-danger float-right mb-5 btn-sm"
           id="deleteForumBtn" onclick="return confirm('Are you sure?');">
            Delete Forum
        </a>
    }
</div>
<hr />

<div class="text-left">
    <div class="forumLogo" style="background-image: url(@Model.Forum.ImageUrl); height: 38px; margin-top: 5px;"></div>
    <h2>Welcome to the <span class="text-danger">@Model.Forum.Title</span> Forum!</h2>
    <small>@Model.Forum.Description</small>
    <hr />
</div>

<div class="col-md-12 p-0"> 
    <form asp-controller="Forum" asp-action="Search" method="post">
        <div class="col-md-11 float-left p-0">
            <input style="width: 100%" asp-for="SearchQuery" type="text" placeholder="Search.." class="searchBar" onfocus="clearThis(this)" />
        </div>
        <div class="col-md-1 float-left">
            <button type="submit" class="btn p-0" style="width: 100%">
                <i class="material-icons">search</i>
            </button>
        </div>
        <input asp-for="Forum.Id" name="id" type="hidden" />
    </form>
</div>

@if (Context.User.Identity.IsAuthenticated && Model.Posts.Any())
{
    <span id="headingBtn">
        <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id" class="btn btn-danger mt-2">Create post</a>
    </span>
}
@if (!Context.User.Identity.IsAuthenticated && Model.Posts.Any())
{
    <span id="headingBtn">
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-danger mt-2">Create post</a>
    </span>
}

@if (Model.Posts.Any())
{
    <table class="table table-bordered table-hover mt-3">
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>
                        <a class="d-block" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                            @post.Title | (@post.RepliesCount)
                        </a>
                        <small>
                            <span>By </span><a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">@post.AuthorName</a> | @post.DatePosted
                        </small>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <div class="noPosts text-center mt-5">
        <i class="material-icons md-72">question_answer</i>
        <h5>There are no posts in this forum yet..</h5>
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-controller="Account" asp-action="Register" class="btn btn-danger">Register and create one?</a>
        }
        else
        {
            <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id" class="btn btn-danger">Create one?</a>
        }
    </div>
}


@section Scripts {
    <script>
        clearThis = (target) => {
            target.value = "";
        }
    </script>
}