@model WebForum.Models.Post.PostIndexModel

<span><a class="btn btn-sm btn-outline-dark" asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.ForumId">Back to @Model.ForumName</a></span>
<hr class="pb-3" />
<div class="d-flex">
    <div class="col-md-2">
        <div style="background-image: url(@Model.AuthorImageUrl)"></div>
        <div>
            <p><small><a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.AuthorId">@Model.AuthorName</a> (@Model.AuthorRating)</small></p>
            @if (@Model.IsAuthorAdmin)
            {
                <span class="small">Admin</span>
            }
        </div>
    </div>
    <div style="border-left: 1px solid black;" class="col-md-10">
        <h3>@Model.Title</h3>
        <p style="font-family: 'Roboto', serif" class="pt-3 pb-1 border-bottom">@Model.PostContent</p>
        <p><small>@Model.Created</small></p>
    </div>
    <div></div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div class="d-flex pt-3">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <span><a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Reply</a></span>
        </div>
    </div>
}

@if (Model.Replies.Any())
{
    foreach (var reply in Model.Replies)
    {
        <div>
            <div style="float: left;" class="col-md-2">
                <div style="background-image: url(@reply.AuthorImageUrl)"></div>
                <div>
                    <p><small><a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.AuthorId">@reply.AuthorName</a> (@reply.AuthorRating)</small></p>
                </div>
                @if (reply.IsAuthorAdmin)
                {
                    <div class="small">
                        Admin
                    </div>
                }
            </div>
            <div style="float: left; border-left: 1px solid black;" class="col-md-10">
                <p style="font-family: 'Roboto', serif" class="pt-3 pb-1 border-bottom">@reply.ReplyContent</p>
                <p><small>@reply.DateTime</small></p>
            </div>
        </div>
    }
}
else
{
    <div class="d-flex">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <small>There are no replies to this post</small>
        </div>
    </div>
}
